# Notebook para cargar los datos

In [1]:
import pandas as pd
import numpy as np
from Cargar_Datos import *

## Datos de CIQ

In [2]:
path = r"""G:\Shared drives\ES ES Valuations - Equipo\Methodology\WORKSTREAM 1 - Tasas de descuento\2-Internacional\Otros\Rating\Datos"""
file = "Datos.xlsm"

Sheets = ['Raw_data_' + str(i) for i in range(18, 13, -1)]
file_path = path + r'\\' + file

In [4]:
dict_dfs_raw = read_all_sheets(file_path,Sheets)

print('Datos del excel: ', file, '\nPestañas con datos: ', [pestana for pestana in Sheets if 'Raw_data' in pestana],
      '\nTamaño de la muestras (filas x columnas): ',
      [ano + ' -> ' + str(len(df)) + ' x ' + str(len(df.columns)) for ano, df in dict_dfs_raw.items()])

Datos del excel:  Datos.xlsm
Pestañas con datos:  ['Raw_data_18', 'Raw_data_17', 'Raw_data_16', 'Raw_data_15', 'Raw_data_14']
Tamaño de la muestras (filas x columnas):  ['2018 -> 21692 x 24', '2017 -> 21692 x 24', '2016 -> 21692 x 24', '2015 -> 21692 x 24', '2014 -> 21692 x 24']

In [5]:
dfs = nueva_columna(dict_dfs_raw)
list_df = [df for ano, df in dfs.items()]
df_union = pd.concat(list_df)
df_union.head()

,Excel Company ID,Rating,Sector,Current Assets,Cash and equivalents,Receivables,Total Assets,Current Liabilities,Long Term Debt,Total Debt,...,Deuda / (Deuda + Equity),Current Ratio,Quick Ratio,Cash Ratio,LT Debt-to-equity,Total Debt-to-Equity,Debt Ratio,Financial Leverage,Company Name,ID
0,IQ18759,NaN,Financials,0,0,0,0,0,0,0,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,0,2018-IQ18759
1,IQ8316305,NaN,Consumer Discretionary,0,0,0,0,0,0,0,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,0,2018-IQ8316305
2,IQ33255,NaN,Communication Services,0,0,0,0,0,0,0,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,0,2018-IQ33255
3,IQ27296142,NaN,0,0,0,0,0,0,0,0,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,0,2018-IQ27296142
4,IQ26972785,NaN,Financials,0,0,0,0,0,0,0,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,0,2018-IQ26972785

In [8]:
ordered_columns = df_union.columns[[0, -1, -2] + list(range(1, len(df_union.columns) - 2))]
df_union = df_union[ordered_columns]

df = clean_df(df_union)
print(df.shape)
df.head()

(0, 25)

c:\python\python38-32\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [Excel Company ID, Financial Leverage, Debt Ratio, ID, Company Name, Rating, Sector, Current Assets, Cash and equivalents, Receivables, Total Assets, Current Liabilities, Long Term Debt, Total Debt, Total Equity, Gastos financieros netos, EBITDA, EBITDA / Gastos financieros, DFN / EBITDA, Deuda / (Deuda + Equity), Current Ratio, Quick Ratio, Cash Ratio, LT Debt-to-equity, Total Debt-to-Equity]
Index: []

[0 rows x 25 columns]

In [ ]:
# df.to_csv("Clean_Data_No_Normalizados.csv")
print('Tamaño de la muestra limpia: ', len(df.columns), 'x', len(df), '\nRatings : ', set(df['Rating']),
      '\nSector : ', set(df['Sector']))